<!DOCTYPE html>

<html>
	<head>
		<title>Jay's Todo List</title>
		<script type="text/javascript" src"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
	</head>

	<body style="width:60%;margin:auto">
		<h1 style="text-align:center">Welcome to Jay's Todo List!</h1>
		<h2 style="text-align:center">Edit your item:</h2>
		<form action="/edit?id={{ item.id }}" method="post">
			<div style="margin:auto">
				<table class="table">
					<tr>
						<td>Title:</td><td><input name="title" type="text" value="{{ item.title }}"/></td>
						<td>Description:</td><td><input name="description" value="{{ item.description }}"type="text" style="width:300px" /></td>
					</tr>
				</table>
	
			</div>
			<div style="margin:auto;text-align:center">
				<input style="margin:auto" name="submit" type="submit" />
			</div>
		</form>
	</body>
</html>
